
body {
    font-size: 20pt;
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-0{
    background-image: url(../images/white.jpg);
    color: black;
}
.about-1{
    background-image: url(../images/black.jpg);
    color: white;
}

.backgroundimg {
    background-image: url('../images/friend.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
} 
.hashas {
    color: green;

}