body {
    font-size: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}
.about-0 {
    background-image: url('../images/white.jpg');
    color: black;
}
.about-1 {
    background-image: url('../images/black.jpg');
    color: white;
}
.backgroundimg {
    background-image: url('../images/friend.png');
    text-align: center;
} 
.hashas {
    color: green;
}
.bg-about {
    color: white;
    background-image: url('../images/bg_about.jpg');
}
.bg-about h1, .bg-about h2 {
    margin-left: 20px;
    padding: 5px;
    border-radius: 2px;
    float: left;
    clear: both;
    background-color: rgba(0,0,0,0.5);
}
nav {
    width: 100%;
    display: flex;
}
a {
    margin: 0 0 20px 70px;
    color: white;
}
a span {
    padding: 5px;
    background-color: rgba(0,0,0,0.5);
}
a:hover {
    color: gold;
}
.body-pz2a-mat {
    background-color: black;
}
.body-pz2a-mat h1 {
    color: white;
}
.termometras {
    text-align: center;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.termometras div {
    height: 80px;
    width: 80px;
    line-height: 80px;
    color: black;
    margin: 5px 2px 5px 0;
    border-radius: 3px;
}
.termometras div:nth-child(1) {
    height: 120px;
    width: 120px;
    line-height: 100px;
    color: white;
    font-size: 5em;
    margin: 5px 5px 5px 0;
    border-radius: 50% 50% 50% 50%;
}
.green {
    background-color: green;
}
.gold {
    background-color: gold;
}
.orange {
    background-color: orange;
}
.brown {
    background-color: brown;
}
.gray {
    background-color: gray;
}